<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NetPress</title>
    <link rel="shortcut icon" type="image/ico" href="~/Images/NetPress_icon.ico" />

    <link href="~/Content/footer-distributed-with-address-and-phones.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")

</head>
<body>
    @{ Html.RenderAction("Navbar", "Home",new { search = ViewBag.search ,categoryId = ViewBag.categoryId});}

    <div class="space"></div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <footer class="footer-distributed">
        <div class="footer-left">
            <img style="width: 35%;" src="~/Images/NetPress_logo.png" />
            <p class="footer-links">
                <a href="#">Luke Theuma</a>
                -
                <a href="#">Ryan Aquilina</a>
                -
                <a href="#">Etienne Galea</a>
            </p>
            <p class="footer-company-name">NetPress - @DateTime.Now.Year</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>

                <p>
                    University of Malta
                    <br />
                    MSD 2080, Msida
                </p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>+356 21 420300</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p>netpress@gmail.com</p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about" style="text-align:justify;">
                <span>About the company</span>
                Netpress is a free blogging website allowing children and adults alike to write their stories for the "world" to see.
            </p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>


