@model IEnumerable<NetPress.Models.Blog>


@foreach (NetPress.Models.Blog blog in Model)
{
    <!-- content -->
    <div class="content">
        <div class="travelling">
            <div class="travelling1">
                <div id="bar">
                    <h1 id="header"><a data-toggle="modal" data-target="#BlogModal-@blog.BlogId"> @blog.Title </a></h1>

                    @* if user is admin, or user has blog *@
                    @if (User.IsInRole("Admin") || blog.AspNetUser.UserName == User.Identity.Name)
                    {
                        <span id="icons">
                            <a href="@Url.Action("Edit", new { id = blog.BlogId })">
                                <img class="edit-delete" src="~/Images/edit_1.png" />
                            </a>
                            <a href="@Url.Action("Delete", new { id = blog.BlogId })">
                                <img class="edit-delete" src="~/Images/delete_1.png" />
                            </a>
                        </span>
                    }
                </div>

                <h5 class="">by <a href="@Url.Action("Index", "Blogs", new { search = blog.AspNetUser.UserName})"> @blog.AspNetUser.UserName,</a> @blog.DateCreated,<a href="@Url.Action("Index", "Blogs", new { search = blog.CategoryObject.CategoryName})"> @blog.CategoryObject.CategoryName </a></h5>
                <p>
                    @if (blog.Content.Length < 400)
                    {
                      @Html.Raw(blog.Content);
                    }
                    else
                    {
                        @Html.Raw(blog.Content.Substring(0, 400));
                    }
                    ...
                </p>
            </div>
            <div class="clearfix"> </div>
        </div>

        @*<div class="loadmore">
            <a class="more" data-toggle="modal" data-target="#BlogModal">Read More</a>
        </div>*@

    </div>
    <!-- content -->

    <!-- Modal -->
    <div id="BlogModal-@blog.BlogId" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="col-md-12 travelling1">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1>@blog.Title</h1>
                    <h5>by <a href="@Url.Action("Index", "Blogs", new { search = blog.AspNetUser.UserName})"> @blog.AspNetUser.UserName,</a> @blog.DateCreated,<a href="@Url.Action("Index", "Blogs", new { search = blog.CategoryObject.CategoryName})"> @blog.CategoryObject.CategoryName </a></h5>
                </div>
                <div class="modal-body">
                    <p>@Html.Raw(blog.Content)</p>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
}