@{
    ViewBag.Title = "Userblogs";
    Layout = "~/Views/Shared/_LayoutBackend.cshtml";
}

@if (Model.Count() == 0)
{
    <h1 style="margin-top: 40px;"> No blogs were found! Why not make one? </h1>
}

@foreach (NetPress.Models.Blog blog in ViewBag.blogList)
{
    <!-- content -->
    <div class="content">
        <div class="travelling">
            <div class="travelling1">
                <div id="bar">
                    <h1 id="header"><a data-toggle="modal" data-target="#BlogModal-@blog.BlogId"> @blog.Title </a></h1>
                        <span id="icons">
                            <a href="@Url.Action("Edit", new { id = blog.BlogId })">
                                <img class="edit-delete" src="~/Images/edit_1.png" />
                            </a>
                            <a data-toggle="modal" data-target="#delete-confirmation-@blog.BlogId">
                                <img class="edit-delete" src="~/Images/delete_1.png" />
                            </a>
                        </span>
                </div>

                <h5>by <a href="@Url.Action("Index", "Blogs", new { search = blog.AspNetUser.UserName})"> @blog.AspNetUser.UserName</a> in <a href="@Url.Action("Index", "Blogs", new { search = blog.CategoryObject.CategoryName})"> @blog.CategoryObject.CategoryName </a>, @blog.StatusObject.StatusName</h5>
                <p>
                    @if (blog.Content.Length < 400)
                    {
                        @Html.Raw(blog.Content);
                    }
                    else
                    {
                        @Html.Raw(blog.Content.Substring(0, 400));
                        <span>...</span>
                    }
                </p>
                <h6><b>Created on:</b> @blog.DateCreated   -   <b>Last modified on:</b> @blog.LastModified </h6>
            </div>
            <div class="clearfix"> </div>
        </div>

        @*<div class="loadmore">
                <a class="more" data-toggle="modal" data-target="#BlogModal">Read More</a>
            </div>*@

    </div>
    <!-- content -->

    <!-- Content Modal -->
    <div id="BlogModal-@blog.BlogId" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="travelling1">
                    <div id="bar">
                        <h1 id="header">@blog.Title</h1>
                           <span id="icons">
                                <a href="@Url.Action("Edit", new { id = blog.BlogId })">
                                    <img class="edit-delete" src="~/Images/edit_1.png" />
                                </a>
                                <a data-toggle="modal" data-target="#delete-confirmation-@blog.BlogId">
                                    <img class="edit-delete" src="~/Images/delete_1.png" />
                                </a>
                            </span>
                    </div>
                    <h5>by <a href="@Url.Action("Index", "Blogs", new { search = blog.AspNetUser.UserName})"> @blog.AspNetUser.UserName</a> in <a href="@Url.Action("Index", "Blogs", new { search = blog.CategoryObject.CategoryName})"> @blog.CategoryObject.CategoryName </a>, @blog.StatusObject.StatusName</h5>

                    <div class="modal-body">
                        <p>@Html.Raw(blog.Content)</p>
                    </div>

                    <h6><b>Created on:</b> @blog.DateCreated   -   <b>Last modified on:</b> @blog.LastModified </h6>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Modal -->

    <!-- Delete Confirmation Modal -->
    <div id="delete-confirmation-@blog.BlogId" class="delete-confirmation modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="col-md-12 travelling1">
                    <h4>Are you sure you want to delete this blog?</h4>
                </div>
                <div class="modal-body">
                    <div class="confirm-delete">
                        <button class="btn btn-default btn-lg btn-width" style="margin-right: 20px;" type="button" data-dismiss="modal"> No </button>
                        <button class="btn btn-danger btn-lg btn-width" type="button" data-dismiss="modal" onclick="location.href='@Url.Action("Delete", new { id = blog.BlogId })'"> Yes </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Delete Confirmation Modal -->
}
